@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
:root {
	font-size:  10px;
    font-family: Arial;
    --blue-light: #D5EAF7;
	--blue-grey: #BFD2DE;
	--dark-bluegrey: #A9BAC4;
	--font-grey: #666666;
	--bg-grey: #F0F0F0;
	--bg-white: #FCFCFC;
	--bg-footer: #A3A3A3;
	/* --bg-footer: #515259; */
	--font-footer: #515259;
    --social-footer: #8C8C8C;
    /* --social-footer: #DDDDE3; */
    --kuroe-dark-blue: #044088;
	--kuroe-light-blue: #A4BEDB;
	/* --vignette-service: #F6F9FC; */
	--vignette-service:	#EDF2F6;

	--vignette-blue: #D8E3EB;
	/* --vignette-blue-light: #E1F1FB; #D5EAF7 */
	--vignette-blue-light:  #E4F0F9;
	--blue-light-transparent: #e4f0f9eb
	/* #E4F0F9B3; */
}
body {
	font-size: 1.3rem;
	overflow-x: hidden;
}
.btn.disabled {
	cursor: not-allowed;
}
.title {
    font-size: 5rem;
    font-family: 'Lobster';
	text-align: center;
	margin: 2rem 0;
  }